<ion-view view-title="Infograma">
  <ion-content>
    <ion-list>
    <video src="img/aguavi.mp4" autoplay muted loop></video>
    <h1 class="p">Para finalizar, y para hacer aún más hincapié en la importancia del agua, voy con un truco que poca gente conoce para poder sobrevivir a un naufragio en el que no disponemos de agua dulce. Pues bien, si se bebe el agua salada a sorbos pequeñitos, del tamaño de una cucharada de café, cada 30 minutos una cucharadita, al cabo del día, es posible habernos hidratado con medio litro, sin crear en el cuerpo ninguna deshidratación causada por el exceso de sal. De esta forma podemos aguantar mas tiempo mientras esperamos que vengan a salvarnos.</h1>
    <videos src="img/"</video>
    </ion-list>
  </ion-content>
</ion-view>
