<ion-view view-title="Infograma">
  <ion-content class="fondo">
    <ion-list>

    <h1 align="center" class="test">Metodos Anticoneptivos</h1>
    <h1 style="color:#FF0000">La Pildora</h1>
    <h2 class="aliniar">La Píldora es una tableta que tomas una vez al día – existen unos cuantos tipos diferentes de píldoras. La píldora combinada contiene estrógeno y progestina, que impiden que los ovarios liberen óvulos. También hacen que el moco cervical sea más espeso, lo que no permite que los espermatozoides lleguen al óvulo. La llamada mini-píldora contiene solo una hormona, una progestina, lo que ofrece una alternativa a aquellas mujeres a las que los estrógenos les afectan. Debes tomar la píldora todos los días a la misma hora, tanto si tienes sexo como si no. Pregunta a tu médico si, de acuerdo con tus antecedentes médicos, la píldora combinada es un método anticonceptivo adecuado para ti, si es así, pregunta qué tipo es mejor para ti.</h2> <img src="img/pildora.jpg" class="g">
	<img src="img/pildora2.png"class="g">
	<img src="img/pildora3.jpg" class="g">

	<h1 style="color:#FF0000">SISTEMA IN­TRAUTERINO - SIU</h1>
    <h2 class="aliniar">El SIU es un dispositivo pequeño, suave, en forma de T, con un reservorio que contiene la hormona progestina que un profesional médico coloca en la matriz. El SIU actúa liberando continuamente una dosis baja de la progestina dentro de la matriz. Ésta hace que el moco del cérvix sea más espeso, lo que dificulta el movimiento de los espermatozoides para llegar al óvulo y también adelgaza el recubrimiento del útero. Con 99.8% de efectividad, estás tan protegida como podrías estarlo por un método anticonceptivo. Es un gran método para la super organizada, la olvidadiza, la viajera frecuente y prácticamente para cualquiera que se ha propuesto no embarazarse. Sin embargo, hay algunos factores de riesgo individuales que hacen que el SIU no sea recomendable para algunas mujeres. Por lo tanto, consulta a tu profesional médico con el fin de determinar tu situación individual.</h2>
    <img src="img/t1j.jpg" class="g">
	<img src="img/t2.png"class="g">
	<img src="img/t3.png" class="g">

		<h1 style="color:#FF0000">CONDÓN MASCULINO</h1>
    <h2 class="aliniar">El condón, uno de los métodos anticonceptivos más populares, es una forma simple y barata de prevenir embarazos no planeados y ETS. El condón actúa capturando los espermatozoides a medida que éstos se liberan e impidiendo que entren a la vagina. La punta tiene un reservorio que colecta el semen del hombre e impide que entre a la vagina durante la eyaculación. Junto con los condones femeninos, son el único método anticonceptivo que te protege contra ETS y contra el embarazo. Lo más importante es que uses un condón cada vez que tengas sexo. Los condones vienen en todas las formas y tamaños y, para los que son sensibles, en todos materiales, de tal forma que, incluso si tienes alergias o piel sensible, hay un condón adecuado para ti.</h2> <img src="img/co1.jpg" class="g">
	<img src="img/co2.png"class="g">
	<img src="img/co3.png" class="g">

	<h1 style="color:#FF0000">INYECCIÓN
      ANTICONCEPTIVA</h1>
    <h2 class="aliniar">La inyección anticonceptiva es una inyección que contiene hormonas, ya sea una progestina sola o una progestina y un estrógeno juntos, y hace que tu cuerpo deje de liberar óvulos y que el moco del cérvix sea más espeso. Necesitas que un profesional médico te ponga una inyección una vez al mes o una vez cada tres meses. Sin embargo, el efecto de la inyección no se puede revertir una vez que se ha aplicado, lo que significa que en caso de tener efectos colaterales, éstos no se pueden detener. La forma cómo actúa es similar a la píldora o al anillo, excepto que no tienes que recordar tomarla diariamente o aplicarlo cada semana, pero probablemente no es la mejor opción para las que le tienen miedo a las agujas.</h2> 
    <img src="img/IN1.png" class="g">
	<img src="img/in2.png"class="g">
	<img src="img/in3.jpg" class="g">

	<h1 style="color:#FF0000">ANILLO
ANTICONCEPTIVO</h1>
    <h2 class="aliniar">La inyección anticonceptiva es una inyección que contiene hormonas, ya sea una progestina sola o una progestina y un estrógeno juntos, y hace que tu cuerpo deje de liberar óvulos y que el moco del cérvix sea más espeso. Necesitas que un profesional médico te ponga una inyección una vez al mes o una vez cada tres meses. Sin embargo, el efecto de la inyección no se puede revertir una vez que se ha aplicado, lo que significa que en caso de tener efectos colaterales, éstos no se pueden detener. La forma cómo actúa es similar a la píldora o al anillo, excepto que no tienes que recordar tomarla diariamente o aplicarlo cada semana, pero probablemente no es la mejor opción para las que le tienen miedo a las agujas.</h2> 
    <img src="img/an1.jpg" class="g">
	<img src="img/an2.png"class="g">
	<img src="img/an3.png" class="g">



    </ion-list>
  </ion-content>
</ion-view>
