<ion-view view-title="BIOLOGIA">
  <ion-content class="padding">

   <img src="img/6.jpg" class="q">
   <h1 class="t" >El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.</h1>
  	<img src="img/4.jpg" class="q">
   <h1 class="t" >Pero en cambio, el ser humano tiende a abusar de este rico elemento en perjuicio de su propia especie y en perjuicio de su propia existencia así como la del resto de habitantes de la Tierra. Se dice que el ser humano puede llegar a necesitar hasta 500 litros de agua potable al día, lo que supone un derroche extremadamente excesivo. De ahí que le estemos dando tanta importancia al agua para el desarrollo de la vida en el planeta.</h1>
   <img src="img/5.jpg" class="q">
   <h1 class="t" >Como hemos dicho antes, el 70 % del cuerpo humano es agua dulce, y por ello no puede estar sin beberla mas de una semana sin poner en serio peligro la vida. Necesitamos comer, pero podemos estar varias semanas sin hacerlo. El ser humano tiene un 10 % de grasas, con lo que una persona de 70 kilogramos tendrá unos 7 kilogramos de grasa corporal. Si cada gramo de grasa produce 9 calorías, con un kilogramo disponemos de 9000 calorías, y ya que un ser humano necesita unas 2000 calorías al día, o menos si esta quieto, pues se puede llegar a vivir sin comer fácilmente 1 mes.
En el caso del agua es diferente. El agua es mucho mas importante para las reacciones metabólicas y catabólicas del cuerpo y apenas podemos sobrevivir una semana sin beberla.
Se conoce casos de personas que han naufragado en una isla desierta, rodeadas de agua por todas partes, pero que sin embargo acaban muriendo de sed.</h1>

  </ion-content>
</ion-view>
