<ion-view view-title="Infograma">
  <ion-content class="tablanu">
    <ion-list>
       
       <h1 align="center">TABLA NUTRICIONAL</h1>
       <center>
       	
       	<style type="text/css">
       			table, td {
       				border: 1px solid black;
       			}
       </style>
   			<table style="width: 25%">
   			<tr>
   				<td>Cantidad por Porcion</td>
   				<td>Cereal</td>
   				<td>Cereal con 1/2 taza de leche descremada</td>
   			</tr>
   			<tr>
   				<td>Calorias </td>
   				<td>100</td>
   				<td>104</td>
   			</tr>
   			<tr>
   				<td>Calorias de grasa</td>
   				<td>0</td>
   				<td>0</td>
   			</tr>
   			<tr>
   				<td></td>
   				<td></td>
   				<td></td>
   			</tr>
   			</table>

   			<table style="width: 25%">
   				<tr>
   					<td></td>
   					<td></td>
   					<td>Valor Diario*</td>
   				</tr>
   				<tr>
   					<td>Grasas Total 0 g</td>
   					<td>0%</td>
   					<td>0%</td>
   				</tr>
   				<tr>
   					<td>Grasas Saturadas 0 g</td>
   					<td>0%</td>
   					<td>0%</td>
   				</tr>
   				<tr>
   					<td>Grasas Trans 0 g</td>
   					<td></td>
   					<td></td>
   				</tr>
   				<tr>
   					<td>Colesterol 0 mg</td>
   					<td>0%</td>
   					<td>0%</td>
   				</tr>
   				<tr>
   					<td>Soldio 230 mg</td>
   					<td>10%</td>
   					<td>12%</td>
   				</tr>
   				<tr>
   					<td>Carbohitrado Total 25 g</td>
   					<td>8%</td>
   					<td>10%</td>
   				</tr>
   				<tr>
   					<td>Fibra dietaria 1 g</td>
   					<td>4%</td>
   					<td>4%</td>
   				</tr>
   				<tr>
   					<td>Azucares 18 g</td>
   					<td></td>
   					<td></td>
   				</tr>
   				<tr>
   					<td>Proteina 2 g</td>
   					<td></td>
   					<td></td>
   				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<td>Vitamina A</td>
					<td>10%</td>
					<td>15%</td>
				</tr>
				<tr>
					<td>Vitamina C</td>
					<td>25%</td>
					<td>25%</td>
				</tr>
				<tr>
					<td>Calcio</td>
					<td>10%</td>
					<td>20%</td>
				</tr>
				<tr>
					<td>Hierro</td>
					<td>25%</td>
					<td>25%</td>
				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<td>Los porcentajes de Valores Diarios están basados en una dieta de 2000 calorias. Sus valores diarios pueden ser mayores o menores dependiendo de sus necesidades calóricas. </td>
				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<th>Calorias</th>
					<th> 2000</th>
					<th colspan="2">2500</th>
				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<td>Grasa Total</td>
					<td>Menos de</td>
					<td>65 g</td>
					<td>80 g</td>
				</tr>
				<tr>
					<td>Grasa Sat</td>
					<td>Menos de</td>
					<td>20 g</td>
					<td>25 g</td>
				</tr>
				<tr>
					<td>Colesterol</td>
					<td>Menos de</td>
					<td>300 mg</td>
					<td>300 mg</td>
				</tr>
				<tr>
					<td>Sodio</td>
					<td></td>
					<td>2400 mg</td>
					<td>2400 mg</td>
				</tr>
					<tr>
					<td>Carb. Total</td>
					<td></td>
					<td>300 g</td>
					<td>375 g</td>
				</tr>
					<tr>
					<td>Fibra dietaria</td>
					<td></td>
					<td>25 g</td>
					<td>30 g</td>
				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<td>Calorias por gramos:</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Grasa 9</td>
					<td>Carbohidratos 4</td>
					<td>Proteina 4</td>
				</tr>
			</table>

       </center>

       <hr>

        <h1 align="center">TABLA NUTRICIONAL INCORRECTA</h1>

         <center>
         	

       	<style type="text/css">
       			table, td {
       				border: 1px solid black;
       			}
       </style>
   			<table style="width: 25%">
   			<tr>
   				<td>Cantidad por Porcion</td>
   				<td></td>
   				<td></td>
   			</tr>
   			<tr>
   				<td>Calorias 260 </td>
   				<td></td>
   				<td>Calorias de grasa 120</td>
   			</tr>  	
   			</table>

   			<table style="width: 25%">
   				<tr>
   					<td></td>
   					<td></td>
   					<td>Valor Diario*</td>
   				</tr>
   				<tr>
   					<td>Grasas Total 13 g</td>
   					<td></td>
   					<td>20%</td>
   				</tr>
   				<tr>
   					<td>Grasas Saturadas 5 g</td>
   					<td></td>
   					<td>25%</td>
   				</tr>
   				<tr>
   					<td>Grasas Trans 2 g</td>
   					<td></td>
   					<td></td>
   				</tr>
   				<tr>
   					<td>Colesterol 30 mg</td>
   					<td></td>
   					<td>10%</td>
   				</tr>
   				<tr>
   					<td>Soldio 660 mg</td>
   					<td></td>
   					<td>28%</td>
   				</tr>
   				<tr>
   					<td>Carbohitrado Total 31 g</td>
   					<td></td>
   					<td>10%</td>
   				</tr>
   				<tr>
   					<td>Fibra dietaria 0 g</td>
   					<td></td>
   					<td>0%</td>
   				</tr>
   				<tr>
   					<td>Azucares 5 g</td>
   					<td></td>
   					<td></td>
   				</tr>
   				<tr>
   					<td>Proteina 5 g</td>
   					<td></td>
   					<td></td>
   				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<td>Vitamina A 4%</td>
					<td></td>
					<td>Vitamina C 2%</td>
				</tr>
				<tr>
					<td>Calcio 15%</td>
					<td></td>
					<td>Hierro 4%</td>
				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<td>Los porcentajes de Valores Diarios estan basados en una dieta de 2000 calorias. Sus valores diarios pueden ser mayores o menores dependiendo de sus necesidades caloricas</td>
				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<th>Calorias</th>
					<th> 2000</th>
					<th colspan="2">2500</th>
				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<td>Grasa Total</td>
					<td>Menos de</td>
					<td>65 g</td>
					<td>80 g</td>
				</tr>
				<tr>
					<td>Grasa Sat</td>
					<td>Menos de</td>
					<td>20 g</td>
					<td>25 g</td>
				</tr>
				<tr>
					<td>Colesterol</td>
					<td>Menos de</td>
					<td>300 mg</td>
					<td>300 mg</td>
				</tr>
				<tr>
					<td>Sodio</td>
					<td></td>
					<td>2400 mg</td>
					<td>2400 mg</td>
				</tr>
					<tr>
					<td>Carb. Total</td>
					<td></td>
					<td>300 g</td>
					<td>375 g</td>
				</tr>
					<tr>
					<td>Fibra dietaria</td>
					<td></td>
					<td>25 g</td>
					<td>30 g</td>
				</tr>
			</table>
			<table style="width: 25%">
				<tr>
					<td>Calorias por gramos:</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Grasa 9</td>
					<td>Carbohidratos 4</td>
					<td>Proteina 4</td>
				</tr>
			</table>
         </center>
         <hr>



    </ion-list>
  </ion-content>
</ion-view>
